<%- include('header') -%>
  <h1>Módosítás</h1>
  </div>
    <div class="container2">
        <form method="post">
            <label>Film címe:</label>
            <input type="text" id="cim" name="cim"><br><br>
            <label>Premier éve:</label>
            <input type="number" id="release" name="release"><br><br>
            <label>Műfaj:</label>
            <input type="text" id="type" name="type"><br><br><hr>
            <input type="submit" value="Submit"/>
        </form>
        <a href="/"><button class="piri">Vissza</button></a>
<%- include('footer') -%>