<!DOCTYPE html>
<html>
<head>
    <title>WhyMDb</title>
    <meta charset="utf8">
    <link rel="stylesheet" type="text/css" href="./static/style.css">
</head>
<body>
<div class="main">
    <div class="container1">